{% extends "base.html" %}
{% block content %}


<pre>
<B>Hacktus</B>
<a href="/login">Login with Github</a>

<a href="/profile/asivokon">View Oleksiy Syvokon's profile</a>
<a href="/profile/PavelBugaevskiy">View Pavel Bugaevskiy's profile</a>

            *-*,
        ,*\/|`| \
        \'  | |'| *,
         \ `| | |/ )
          | |'| , /
          |'| |, /
        __|_|_|_|__
       [___________]
        |         |
        |         |
        |         |
         \_______/




<a href="https://github.com/asivokon/hacktus/tree/master/design" target="blank">
  This is how it should have looked. Awesome, huh?
</a>

</pre>




{% endblock %}
