{% extends "base.html" %}
{% block content %}


<pre>
<h1>{{user['name'].upper()}}</h1>  <a href="/logout">logout</a>

<b>My hackchievements</b>
------------------

  Stars:         {{scores['stars']}}
  Lines of code: {{scores['additions']}}

  Commits made:  {{scores['commit']}}

  Repositories:  {{scores['repos_count']}}
  Books read:    {{scores['books']}}
  Challenges:    {{scores['challenges']}}

  <b>Level:         {{scores['level']}} {{'*' * scores['level']}}</b>
</dl>



{% endblock %}

